
<div class="content-wrapper">
    <form id="frmVendorProfileMaster">

        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <i class="fa fa-chevron-left" style="margin-right: 5px; cursor: pointer;font-size:22px; "></i>
                            <h3 class="box-title">Vendor Profile </h3>
                        </div>

                        <div class="box-body">


                            <div class="box-body">


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label>Name :</label>

                                                    <label style="color: #333; font-size: 11px;">prasad Borade</label>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label style="color: #333">Address :</label>

                                                    <label style="color: #333; font-size: 10px;">
                                                        At-post:koshane karjat
                                                </label>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label style="color: #333">Email :</label>

                                                    <label style="color: #333; font-size: 11px;">pborade1994@gmail.com</label>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label style="color: #333">State :</label>

                                                    <label style="color: #333; font-size: 11px;">Maharashtra</label>

                                            </div>
                                        </div>

                                    </div>
                                    
                                </div>
                                <div class="col-md-4">

                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label style="color: #333">City :</label>

                                                    <label style="color: #333; font-size: 11px;">Karjat</label>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label style="color: #333">Pincode :</label>

                                                    <label style="color: #333; font-size: 11px;">410201</label>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label style="color: #333">Contact No1 :</label>

                                                    <label style="color: #333; font-size: 11px;">8655173012</label>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                            <div class="col-md-8">
                                            <div class="form-group">
                                                    <label style="color: #333">Contact No2 :</label>

                                                    <label style="color: #333; font-size: 11px;">8446895512</label>

                                            </div>
                                        </div>

                                    </div>
                                    
                                </div>
                                </div>
                                
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="btn-group pull-left">

                                                @*<a class="btn btn-warning btn-sm" id="btnEdit1" role="button">Edit </a>*@
                                                <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Index", "Vendor")';return false;">Edit</button>
                            </div>
                                        </div>
                                    </div>
                            
                                </div>
                            </div>

                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">vendor Bank Details</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table id="ReceivableTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>bank Name</th>
                                                <th>Account No</th>
                                                <th>IFSC code</th>
                                                <th>action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                             
                                                <td>Bank Of india</td>
                                                <td>
                                                  1233555666
                                                </td>
                                                <td>kbd123</td>
                                                
                                                <td>
                                                    <label id="btnEdit" class="btn btn-info btn-sm btn-Edit-SubDept fa fa-pencil-square-o" data-toggle="modal" data-target="#div_Parent_Modal_Fade"></label>
                                         
                                                </td>
                                            </tr>
                                            <tr>
                                               
                                                <td>Bank Of india</td>
                                                <td>
                                                    1233555666
                                                </td>
                                                <td>kbd123</td>

                                                <td>
                                                    <label id="btnEdit" class="btn btn-info btn-sm btn-Edit-SubDept fa fa-pencil-square-o" data-toggle="modal" data-target="#div_Parent_Modal_Fade"></label>

                                                </td>
                                            </tr>
                                            <tr>
                                               
                                                <td>Bank Of india</td>
                                                <td>
                                                    1233555666
                                                </td>
                                                <td>kbd123</td>

                                                <td>
                                                    <label id="btnEdit" class="btn btn-info btn-sm btn-Edit-SubDept fa fa-pencil-square-o" data-toggle="modal" data-target="#div_Parent_Modal_Fade"></label>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div><!-- /.box-body -->
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </form>
</div>


<form id="frmVendorProfileMaster">

    <div class="brand_profile">
        <div class="container">
            <h3 class="brand_profile_header">Vendor Profile</h3>

            <div class="brand_profile_image">

            </div>

            <div class="info">

                <div class="col-md-6 col-sm-6">
                    <h5>Brand Name</h5>
                    <h3>@Model.Brand.Brand_Name</h3>
                    <br />

                    <h5>Brand Category</h5>

                    @foreach (var item in LookupInfo.Get_Brand_Categories())
                    {
                        if (Model.Brand.Brand_Category == item.Key)
                        {
                            <h3>@item.Value</h3>
                        }
                    }
                    <input type="hidden" id="hdnBrand_Category" name="Brand.Brand_Category" value="@Model.Brand.Brand_Category">

                    <br />

                    <h5>Website</h5>
                    <h3>@Model.Brand.Website_Url</h3>

                    <button type="button" id="btnEdit" class="btn btn_mer ripple" style="float:right;">Edit</button>

                </div>
            </div>


        </div>
    </div>
</form>
