@model SMSPortal.Models.PostLogin.PurchaseOrderViewModel
@using SMSPortal.Common;
 
<script src="~/Scripts/Module/ThirdPartyVendor/search_order_vendor_events.js"></script>
<script src="~/Scripts/Module/ThirdPartyVendor/search_order_vendor_methods.js"></script>

<form id="frmVendorSalesOrder" enctype="multipart/form-data">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        @*@{Html.RenderPartial("_ServerMessage");}*@
        <section class="content-header">
            <h1>
                Sales Orders
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-dashboard"></i>Vendor</a></li>
                <li class="active">Sales Orders</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sales Orders</h3>
                        </div>
                        <div class="box-body">
                            <input type="hidden" id="hdf_Vendor_Id" name="Cookies.Entity_Id" value="@Model.Cookies.Entity_Id" />
                            <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
                            <input type="hidden" id="hdn_PurchaseOrderId" name="PurchaseOrder.Purchase_Order_Id" value="@Model.PurchaseOrder.Purchase_Order_Id">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group auto-complete">
                                        <label for="Purchase_Order" class="lookup-title">Purchase Order</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm autocomplete-text" name="Filter.Purchase_Order_No" id="txtVendorSales_Order_No" placeholder="Enter Order No" data-param="hdf_Vendor_Id" value="@Model.Filter.Purchase_Order_No" data-table="purchase_order" data-col="Purchase_Order_Id,Purchase_Order_No" data-headernames="PurchaseOrder">
                                            <input type="hidden" id="hdnPurchaseOrderId" value="@Model.Filter.Purchase_Order_Id" name="Filter.Purchase_Order_Id" class="auto-complete-value" />
                                            <input type="hidden" id="hdnPurchaseOrderNo" value="@Model.Filter.Purchase_Order_No" name="Filter.Purchase_Order_No" class="auto-complete-label" />
                                            <div class="input-group-addon">
                                                <a href="#" class="text-muted" id="hrefPurchaseOrder" role="button"><i class="fa fa-server"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="btn-group pull-left">
                                            <a class="btn btn-warning btn-sm" id="btnSearch" role="button">Search </a>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button type="button" id="btnDetails" class="btn btn-warning btn-sm" style="display:none;">Details</button>                                             
                                            @*<a class="btn btn-warning btn-sm" role="button" href="@Url.Action("CreateInvoice", "Vendor")">Create Invoice</a>*@                                             
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">

                            <table class="table table-striped" id="tblSalesOrder">
                                <tr id="subhead">
                                    <th width="5%"></th>
                                    <th width="15%">Purchase Order No</th>                                    
                                    <th width="12%">Amount</th>
                                    <th>Status</th>
                                </tr>
                            </table>

                            <div class="box-footer clearfix">
                                    <div class="pagination pagination-sm no-margin pull-right">
                                        <ul></ul>
                                    </div>
                                    <div id="divSearchGridOverlay" class="overlay">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
</form>






