@model SMSPortal.Models.PostLogin.DealerViewModel
@using SMSPortal.Common;

<script src="~/Scripts/jquery.maskedInput1.3.1.js"></script>
<script src="~/Scripts/Module/Dealer/Dealer_events.js"></script>
<script src="~/Scripts/Module/Dealer/dealer_validation.js"></script>


<form id="frmDealerMaster">

    <div class="master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="master_header">
                Dealer Master
                <span> <a href="@Url.Action("Search","Dealer")"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a> </span>
            </h3>

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="control-label label_mer">Dealer Name</label>
                        <input type="text" class="form-control form_control_mer" name="Dealer.Dealer_Name" id="txtDealer_Name" placeholder="Enter your name" value="@Model.Dealer.Dealer_Name" maxlength="500">
                        <input type="hidden" id="hdnDealerName" value="@Model.Dealer.Dealer_Name">
                        <input type="hidden" name="Dealer.Dealer_Id" id="hdf_DealerId" value="@Model.Dealer.Dealer_Id">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Brand</label>
                        <select id="drpBrand_Category" class="form-control form_control_mer" name="Dealer.Brand_Id">
                            <option value="">-Select Brand-</option>
                            @foreach (var item in Model.Brands)
                            {
                                if (Model.Dealer.Brand_Id == item.Brand_Id)
                                {
                                    <option value="@item.Brand_Id" selected="selected">@item.Brand_Name</option>
                                }
                                else
                                {
                                    <option value="@item.Brand_Id">@item.Brand_Name</option>
                                }
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Dealer Percentage</label>
                        @if (Model.Dealer.Dealer_Percentage == 0 || Model.Dealer.Dealer_Percentage == null)
                        {
                            if (Model.Dealer.Dealer_Id!=0)
                            {
                                <input type="text" class="form-control form_control_mer" onkeypress="return isNumberKey(event)" maxlength="4" pattern="[0-9]{3}" name="Dealer.Dealer_Percentage" id="txtDealerPercentage" placeholder="Enter Dealer Percentage" value="@(Model.Dealer.Dealer_Percentage)" onchange="Calc_Percentage(this);">
                            }
                            else
                            {
                                <input type="text" class="form-control form_control_mer" onkeypress="return isNumberKey(event)" maxlength="3" pattern="[0-9]{3}" name="Dealer.Dealer_Percentage" id="txtDealerPercentage" placeholder="Enter Dealer Percentage" value="@(Model.Dealer.Dealer_Percentage)" onchange="Calc_Percentage(this);">
                            }
                            
                        }
                        else
                        {
                            <input type="text" class="form-control form_control_mer" onkeypress="return isNumberKey(event)" maxlength="4" pattern="[0-9]{3}" name="Dealer.Dealer_Percentage" id="txtDealerPercentage" placeholder="Enter Dealer Percentage" value="@(Model.Dealer.Dealer_Percentage.ToString().Substring(0, 4))" onchange="Calc_Percentage(this);">
                        }
                        <span id="err_dealer" style="color: #a94442;"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Brand Percentage</label>
                        @if (Model.Dealer.Brand_Percentage == 0 || Model.Dealer.Brand_Percentage == null)
                        {
                            if (Model.Dealer.Dealer_Id!=0)
                            {
                                <input type="text" class="form-control form_control_mer" onkeypress="return isNumberKey(event)" maxlength="4" pattern="[0-9]{3}" name="Dealer.Brand_Percentage" id="txtBrandPercentage" placeholder="Enter Brand Percentage" value="@(Model.Dealer.Brand_Percentage)" onchange="Calc_Percentage(this);">
                            }
                            else
                            {
                                <input type="text" class="form-control form_control_mer" onkeypress="return isNumberKey(event)" maxlength="3" pattern="[0-9]{3}" name="Dealer.Brand_Percentage" id="txtBrandPercentage" placeholder="Enter Brand Percentage" value="@(Model.Dealer.Brand_Percentage)" onchange="Calc_Percentage(this);">
                            }
                            
                        }
                        else
                        {
                            <input type="text" class="form-control form_control_mer" onkeypress="return isNumberKey(event)" maxlength="4" pattern="[0-9]{3}" name="Dealer.Brand_Percentage" id="txtBrandPercentage" placeholder="Enter Brand Percentage" value="@(Model.Dealer.Brand_Percentage.ToString().Substring(0, 4))" onchange="Calc_Percentage(this);">
                        }
                        <span id="err_brand" style="color: #a94442;"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Address</label>
                        <textarea class="form-control form_control_mer" name="Dealer.Address" id="txtAddress" maxlength="200">@Model.Dealer.Address</textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">City</label>
                        <input type="text" class="form-control form_control_mer" name="Dealer.City" id="txtcity" placeholder="Enter city" value="@Model.Dealer.City" maxlength="15">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">State</label>
                        <select id="drpState" class="form-control form_control_mer" name="Dealer.State">
                            <option value="">-Select State-</option>
                            @foreach (var item in Model.States)
                            {
                                if (Model.Dealer.State == item.State_Id)
                                {
                                    <option value="@item.State_Id" selected="selected">@item.State_Name</option>
                                }
                                else
                                {
                                    <option value="@item.State_Id">@item.State_Name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Pincode</label>
                        <input type="text" class="form-control form_control_mer" onkeypress="return isNumberKey(event)"  maxlength="6" pattern="[0-9]{6}" name="Dealer.Pincode" id="txtPincode" placeholder="Enter pincode" value="@(Model.Dealer.Pincode == 0 ? "" : Model.Dealer.Pincode.ToString())">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Contact No 1</label>
                        <input type="text" class="form-control form_control_mer" name="Dealer.Contact_No_1" id="txtContactNo1" placeholder="Enter mobile no" value="@Model.Dealer.Contact_No_1">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Contact No 2</label>
                        <input type="text" class="form-control form_control_mer" name="Dealer.Contact_No_2" id="txtContactNo2" placeholder="Enter landline no" value="@Model.Dealer.Contact_No_2">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Email</label>
                        <input type="text" class="form-control form_control_mer" name="Dealer.Email" id="txtEmail" placeholder="Enter email " value="@Model.Dealer.Email" maxlength="40" data-table="Dealer" data-field="Email">
                    </div>

                    <div class="form-group form_control_mer">
                        @if (Model.Dealer.Is_Active == false)
                        {
                            <label class="control-label label_mer">
                                <input type="checkbox" class="chkstatus" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        else
                        {
                            <label class="control-label label_mer">
                                <input type="checkbox" checked="checked" class="chkstatus" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        <input type="hidden" id="hdnIs_Active" name="Dealer.Is_Active" value="@Model.Dealer.Is_Active.ToString()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn_mer ripple">Save</button>
                        <button type="reset" id="btnReset" class="btn btn_mer ripple">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
