@model SMSPortal.Models.PostLogin.DealerViewModel
@using SMSPortal.Common;

<script src="~/Scripts/Module/Dealer/search_dealer_events.js"></script>

<script src="~/Scripts/Module/Dealer/search_dealer_methods.js"></script>


    <!-- Content Wrapper. Contains page content -->
    @*<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        @{Html.RenderPartial("_ServerMessage");}
        <section class="content-header">
            <h1>
                Dealer Master
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-dashboard"></i>Admin</a></li>
                <li class="active">Dealer</li>
            </ol>
        </section>

        <div class="row">

            <div class="col-xs-12">

                <div class="box">

                    <div class="box-body">

                        <div class="row">

                            <div class="col-md-12"> 

                                <form id="frmDealerMaster">

                                    <table border="1" style="width:100%">

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">Dealer Name : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtCustomer_Name">@Model.Dealer.Dealer_Name</label>

                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">Brand : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtCustomer_Address">@Model.Dealer.Brand_Name</label>

                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">Address : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtTel_No">@Model.Dealer.Address</label>


                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">City : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtEmail">@Model.Dealer.City</label>

                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">State :  </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtContact_Person">@Model.Dealer.State</label>

                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">Pincode : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtContact_Person_Tel_No"> @Model.Dealer.Pincode</label>

                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">Contact No 1 : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtContact_Person_Mobile_No"> @Model.Dealer.Contact_No_1</label>


                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">Contact No 2 : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtEnquiry_No"> @Model.Dealer.Contact_No_2</label>


                                            </td>

                                        </tr>

                                        <tr>

                                            <th style="padding: 5px; text-align: left; width:15%">Email : </th>

                                            <td style="padding: 10px; text-align: left; width:85%">

                                                <label style="color: #333" for="txtEnquiry_Date"> @Model.Dealer.Email</label>


                                            </td>

                                        </tr>

                                    </table>

                                    <div class="btn-group">

                                        <input type="hidden" id="hdnDealerId" value="@Model.Filter.Dealer_Id" name="Filter.Dealer_Id" class="auto-complete-value" />

                                        <input type="hidden" id="hdnBrandId" value="@Model.Filter.Brand_Id" name="Filter.Brand_Id" />

                                    </div>

                                </form>
                            </div>

                        </div>

                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->

            </div>

        </div>



    </div>*@
    <!-- /.content-wrapper -->

<form id="frmDealerMaster">
    <div class="view_dealers">
        <div class="container">
            <h3 class="view_dealers_header">
                Dealer Master
                <span> <a href="dealers.html"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a> </span>
            </h3>

            <div class="view_dealers_body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>Dealer Name</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.Dealer_Name</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>Brand</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.Brand_Name</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>Address</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.Address</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>City</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.City</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>State</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.State</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>Pincode</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.Pincode</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>Contact No. 1</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.Contact_No_1</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>Contact No. 2</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.Contact_No_2</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <h5>Email Id</h5>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h3>@Model.Dealer.Email</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>
