@model SMSPortal.Models.PostLogin.SalesOrderViewModel
@using SMSPortal.Common;
@using SMSPortalInfo.Common;

<script src="~/Scripts/Module/SalesOrder/sales_my_order_events.js"></script>
<script src="~/Scripts/Module/SalesOrder/sales_my_order_methods.js"></script>

<form id="frmMyOrders" enctype="multipart/form-data">
    <input type="hidden" id="hdnOrder_Id" name="Sales_Order.Order_Id" value="@Model.Sales_Order.Order_Id">
    <input type="hidden" id="hdnDealer_Id" name="Cookies.Entity_Id" value="@Model.Cookies.Entity_Id">
    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage">
    <div class="myorders">
        <div class="container">
            <h3 class="myorders_header">My Orders</h3>

            <div class="row" style="margin: 20px 0;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Order No.</label>
                        <div class="input-group">
                            <input type="text" class="form-control form_control_mer" id="" placeholder="Enter Order No.">
                            <span class="input-group-addon"> <a href="" data-toggle="modal" data-target="#lookup"> <i class="fa fa-server" style="color:#fff;" aria-hidden="true"></i></a></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Status</label>
                        <select id="drpOrderStatus" class="form-control form_control_mer">
                            <option value="">-Select Status-</option>
                            @foreach (var item in LookupInfo.Get_Order_Status())
                            {
                                if (Model.Filter.Status == item.Key)
                                {
                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Date Range</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar" style="color:#fff;" aria-hidden="true"></i></span>
                            <input type="text" id="reservation" class="form-control form_control_mer" placeholder="Select Date Range">
                        </div>
                    </div>
                </div>


            </div>

            <div class="row m0">
                <div class="col-md-12">
                    <div class="form-group">
                        <a href="#" class="btn btn_mer ripple">Search</a>
                    </div>
                </div>
            </div>

            <div class="row m0">
                <div class="col-md-12">
                    <div class="form-group">
                        <a id="btnDetails" href="#" style="display:none;" class="btn btn_mer ripple pull-right">Order Details</a>
                    </div>
                </div>
            </div>

            <div class="table-responsive" style="margin: 25px 0;">
                <table id="tblMyOrders" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <div class="box-footer clearfix">
                    <div class="pagination pagination-sm no-margin pull-right">
                        <ul></ul>
                    </div>
                    <div id="divSearchGridOverlay" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>






