@model SMSPortal.Models.PostLogin.InvoiceViewModel
@using SMSPortal.Common;

<script src="~/Scripts/Module/Invoice/search_invoice_events.js"></script>
<script src="~/Scripts/Module/Invoice/search_invoice_methods.js"></script>


<form id="frmInvoice">

    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
    <input type="hidden" id="hdnInvoice_Id" name="Invoice.Invoice_Id" value="@Model.Invoice.Invoice_Id">

    <div class="dealer_master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="dealer_master_header">
                Invoice Master
            </h3>

            <div class="row" style="margin: 20px 0;">
                <div class="col-md-6">

                    <div class="form-group auto-complete">
                        <label class="control-label label_mer">Invoices</label>
                        <div class="input-group">
                            <input type="text" class="form-control form_control_mer autocomplete-text" name="Filter.Invoice_No" id="txtInvoice_Number" placeholder="Enter Invoice No" value="@Model.Filter.Invoice_No" data-param="hdnVendorId" data-table="Vendor_Invoice" data-col="Vendor_Invoice_Id,Invoice_No" data-headernames="Invoice">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-server" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnInvoiceId" value="@Model.Filter.Invoice_Id" name="Filter.Invoice_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnInvoiceNo" value="@Model.Filter.Invoice_No" name="Filter.Invoice_No" class="auto-complete-label" />
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                        <br />
                        <a class="btn btn_mer ripple" style="margin-top: 5px;" id="btnSearch" role="button">Search </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @*<div class="btn-group pull-left">

                        <a class="btn btn_mer ripple" id="btnSearch" role="button">Search </a>

                    </div>*@
                    <div class="btn-group pull-right">

                        <button type="button" id="btnDetails" style="display:none;" class="btn btn_mer ripple">Details </button>

                    </div>
                </div>
            </div>

            <div class="table-responsive" style="margin: 50px 0;">
                <table class="table table-bordered" id="tblInvoices">
                    <thead>
                        <tr id="subhead">
                            <th width="5%"></th>
                            <th width="10%">Invoice No</th>
                            <th width="10%">Order No</th>
                            <th>Invoice Date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="clearfix">
                    <div class="pagination no-margin pull-right">
                        <ul class="pagination"></ul>
                    </div>
                    <div id="divSearchGridOverlay" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>

