@model SMSPortal.Models.PostLogin.ProductViewModel

<script src="~/Scripts/Module/Product/ProductDetails/product-details-methods.js"></script>
<script src="~/Scripts/Module/Product/ProductDetails/product-details-events.js"></script>

@*<div class="container">
        <input type="hidden" id="hdnPD_ProductId" value="@Model.Product.Product_Id" />
        <div class="row">
            <div class="col-md-5">
                <div class="thumbnail margin fullsizeimage">
                    <img id="imgCurrentProductImage" onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="~/UploadedFiles/@Model.Product.Product_Image" style="height:500px; width:300px;">
                </div>
            </div>
            <div class="col-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>@Model.Product.Product_Name - @Model.Product.Product_Description</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_1">brand</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_1">@Model.Product.Brand_Name</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_2">Category</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_2">@Model.Product.Category_Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_2">Sub-category</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_2">@Model.Product.SubCategory_Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_2">Price</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label viewmore_modal_label_2"><i class="fa fa-inr"></i>@Html.Raw(string.Format("{0:#,#.00}", Model.Product.Product_Price))</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Product.ProductImages)
            {
                string imageFileName = item.Image_Code;
                <div class="col-md-1">
                    <div class="thumbnail margin">
                        <img src="~/UploadedFiles/@item.Image_Code" class="thumbimage" onclick="changeImage(this);" id="~/UploadedFiles/@item.Image_Code" style="height:30px; width:30px;">
                    </div>
                </div>
            }

            <div class="col-md-1">
                <input type="text" class="form-control" placeholder="Enter Quantity" style="width:80px" id="hdnQuantity" value="" />
            </div>
            <div class="col-md-2">
                <button type="button" id="btnPD_AddToCart" class="btn btn-primary" onclick="AddToCart(this, @Model.Product.Product_Id, true);">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                </button>
            </div>

            <div class="col-md-1">
                <button type="button" id="btnPD_Proceed" class="btn btn-primary">Proceed</button>
            </div>

        </div>
    </div>*@

@*<div id="viewmore" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">*@
<!-- Modal content-->
@*<div class="modal-content edit_modal_content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">product details</h4>
    </div>
    <div class="modal-body">*@

<input type="hidden" id="hdnPD_ProductId" value="@Model.Product.Product_Id" />

<div class="row">
    <div class="col-md-6">
        <div class="thumbnail margin fullsizeimage">
            <img id="imgCurrentProductImage" onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="~/UploadedFiles/@Model.Product.Product_Image" style="height:500px; width:300px;">
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="viewmore_modal_h3">@Model.Product.Product_Name - @Model.Product.Product_Description</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_1">Brand</label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_2">@Model.Product.Brand_Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_1">Category</label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_2">@Model.Product.Category_Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_1">Sub-category</label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_2">@Model.Product.SubCategory_Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_1">Price</label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label viewmore_modal_label_2"> <i class="fa fa-inr"></i> @Html.Raw(string.Format("{0:#,#.00}", Model.Product.Product_Price))</label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="input-group" style="padding-bottom: 5px;">
                        <span class="input-group-addon input-sm qty" id="qty">Qty.:</span>
                        <input type="text" class="form-control input-sm valtxt qty_text" placeholder="0" style="width:62px" aria-describedby="qty" id="hdnQuantity" value="" />
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" id="btnPD_AddToCart" class="btn btn_mer_2 btn-sm ripple" onclick="AddToCart(this, @Model.Product.Product_Id, true);">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; Add to cart
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="button" id="btnPD_Proceed" class="btn btn_mer_2 btn-sm ripple">Proceed</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model.Product.ProductImages)
    {
        string imageFileName = item.Image_Code;
        <div class="col-md-1">
            <div class="thumbnail margin">
                <img src="~/UploadedFiles/@item.Image_Code" class="thumbimage" onclick="changeImage(this);" id="~/UploadedFiles/@item.Image_Code" style="height:30px; width:30px;">
            </div>
        </div>
    }

</div>

@*</div>
        <div class="modal-footer">
            <button type="button" class="btn btn_mer ripple" data-dismiss="modal">close</button>
        </div>
    </div>*@

@*</div>
    </div>*@





