@model SMSPortal.Models.PostLogin.ProductViewModel

<script src="~/Scripts/Module/Product/PlaceOrder/place-order-methods.js"></script>
<script src="~/Scripts/Module/Product/PlaceOrder/place-order-validations.js"></script>
<script src="~/Scripts/Module/Product/PlaceOrder/place-order-events.js"></script>

<div class="cart_body">
    <form id="frmPlaceOrder">
        <div class="container">
            <div id="dvHiddenElements">
                <input type="hidden" id="hdnDealerId" name="order.Dealer_Id" value="@Model.dealer.Dealer_Id" />
                <input type="hidden" id="hdnDealerAddress" name="order.Shipping_Address" value="@Model.dealer.Address" />
                <input type="hidden" id="hdnLocalTax" value="@Model.tax.Local_Tax" />
                <input type="hidden" id="hdnExportTax" value="@Model.tax.Export_Tax" />
                <input type="hidden" id="hdnStateName" value="@Model.state.State_Name" />
            </div>
            <h3 class="cart_header">Cart</h3>

            <div class="row" style="margin: 20px 0 50px 0;">
                <div class="col-md-12">
                    <div class="table-responsive cart_table_resp">
                        <table class="table table-bordered cart_table">
                            <thead>
                                <tr>
                                    <th style="width: 50%;">Item</th>
                                    <th style="width: 10%;">Quantity</th>
                                    <th style="width: 10%;">Tax</th>
                                    <th style="width: 10%;">Price</th>
                                    <th style="width: 5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    decimal totalProductPrice = 0, tax = 0, totalTax = 0, netAmount = 0; decimal product_Gross_Price = 0; decimal product_Net_Price = 0;

                                    foreach (var item in Model.Products)
                                    {
                                        <tr class="bd-row" id="trCartItemDetails_@i">
                                            <td>
                                                @item.Product_Name <br />
                                                @item.Product_Description
                                                <input type="hidden" name="order.OrderItems[@i].Product_Id" value="@item.Product_Id" />
                                            </td>
                                            <td>
                                                <input type="text" name="order.OrderItems[@i].Product_Quantity" onchange="changeProductPrice(@i)" class="form-control" value="@item.Product_Quantity" />
                                            </td>
                                            <td align="right">
                                                @if (Model.state.State_Name == "MAHARASHTRA")
                                                {
                                                    <span id="spanProduct_Price_@i">@Html.Raw(string.Format("{0:#,#.00}", item.Local_Tax))</span>
                                                }
                                                else
                                                {
                                                    <span id="spanProduct_Price_@i">@Html.Raw(string.Format("{0:#,#.00}", item.Export_Tax))</span>
                                                }

                                            </td>
                                            <td align="right">
                                                <span id="spanProduct_Price_@i">@Html.Raw(string.Format("{0:#,#.00}", item.Product_Price))</span>
                                                <input type="hidden" name="order.OrderItems[@i].Product_Price" value="@item.Product_Price" />
                                                <input type="hidden" id="hdnSingle_Product_Price_@i" value="@item.Product_Price" />
                                                <input type="hidden" name="order.OrderItems[@i].Vendor_Id" value="@item.Vendor_Id" />

                                                <input type="hidden" name="order.OrderItems[@i].Product_GrossPrice" value="@item.Product_Price" />
                                                @if (Model.state.State_Name == "MAHARASHTRA")
                                                {
                                                    <input type="hidden" name="order.OrderItems[@i].Product_NetPrice" value="@((item.Product_Price) + (tax = (item.Product_Price * item.Local_Tax) / 100))" />
                                                }
                                                else
                                                {
                                                    <input type="hidden" name="order.OrderItems[@i].Product_NetPrice" value="@((item.Product_Price) + (tax = (item.Product_Price * item.Export_Tax) / 100))" />
                                                }
                                            </td>

                                            <td align="center">
                                                <button type="button" id="btnDelete_Cart_Item_@i" onclick="deleteCartItem(@i)" class="btn btn-box-tool btn-bd-delete">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                                totalProductPrice = totalProductPrice + item.Product_Price;

                                                if (item.Local_Tax != 0)
                                                {
                                                    if (Model.state.State_Name == "MAHARASHTRA")
                                                    {
                                                        tax = (item.Product_Price * item.Local_Tax) / 100;
                                                    }
                                                    else
                                                    {
                                                        tax = (item.Product_Price * item.Export_Tax) / 100;
                                                    }
                                                }

                                                totalTax = totalTax + tax;

                                                i = i + 1;
                                    }

                                    //if (tax != 0)
                                    //{
                                    //    tax = tax / Model.Products.Count();
                                    //}

                                    netAmount = totalProductPrice + totalTax;
                                }

                                <tr>
                                    <td colspan="4" style="text-align: right;">
                                        Gross Payable Amount: <i class="fa fa-inr"></i> <span id="spanAmountPayable">@Html.Raw(string.Format("{0:#,#.00}", totalProductPrice))</span>
                                        <input type="hidden" id="hdnGrossPayableAmount" name="order.Gross_Amount" value="@totalProductPrice" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align: right;">
                                        Taxes: <i class="fa fa-inr"></i> <span id="spanTaxes">@Html.Raw(string.Format("{0:#,#.00}", totalTax))</span>
                                        <input type="hidden" id="hdnTaxes" name="order.Service_Tax" value="@totalTax" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="text-align: right;">
                                        Net Payable Amount: <i class="fa fa-inr"></i> <span id="spanNetPayableAmount">@Html.Raw(string.Format("{0:#,#.00}", netAmount))</span>
                                        <input type="hidden" id="hdnNetPayableAmount" name="order.Net_Amount" value="@netAmount" />
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 text_center">
                    <div class="form-group">

                        <button type="button" id="btnContinueShopping" class="btn btn_mer_2 ripple" onclick="continueShopping()">
                            Continue Shopping
                        </button>

                        <button type="button" id="btnPlaceOrder" class="btn btn_mer_2 ripple" onclick="placeOrder()">
                            Place Order
                        </button>

                    </div>
                </div>
            </div>

        </div>
    </form>
</div>