@model SMSPortal.Models.PostLogin.PurchaseOrderViewModel
@using SMSPortal.Common;

<link href="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="~/Content/AdminLTE/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
<script src="~/Content/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>

<script src="~/Scripts/Module/PurchaseOrder/purchase_order_events.js"></script>
<script src="~/Scripts/Module/PurchaseOrder/purchase_order_methods.js"></script>
<script src="~/Scripts/Module/PurchaseOrder/purchase_order_validation.js"></script>
<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <section class="content-header">
        <h1>
            Purchase Order Master
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Admin</li>
            <li class="active">Purchase Order</li>
        </ol>
    </section>

    <form id="frmPurchaseOrderMaster">
        <input type="hidden" id="hdnPurchase_Order_Id" name="PurchaseOrder.Purchase_Order_Id" value="@Model.PurchaseOrder.Purchase_Order_Id" />
        <input type="hidden" id="hdnPurchase_Order_Item_Id" name="PurchaseOrderItem.Purchase_Order_Item_Id" value="@Model.PurchaseOrderItem.Purchase_Order_Item_Id" />
        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <i class="fa fa-chevron-left" style="margin-right: 5px; cursor: pointer;font-size:22px; "></i>
                            <h3 class="box-title">Purchase Order</h3>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="color: #333">Purchase Order No</label><br />
                                        <label style="color: #808080">@Model.PurchaseOrder.Purchase_Order_No</label>
                                    </div>
                                </div>
                                <div class="col-md-3" id="dvSubc">
                                    <div class="form-group auto-complete">
                                        <label for="Vendor" class="lookup-title">Vendor Name</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm autocomplete-text lookup-text" name="PurchaseOrder.Vendor_Name" id="txtVendor" placeholder="Enter Vendor Name" value="@(Model.PurchaseOrder.Vendor_Id == 0 ? "" : Model.PurchaseOrder.Vendor_Id.ToString())" data-table="Vendors" data-col="Vendor_Id,Vendor_Name" data-headernames="Vendor Name">
                                            <input type="hidden" id="hdnVendorId" value="@Model.PurchaseOrder.Vendor_Id" name="PurchaseOrder.Vendor_Id" class="auto-complete-value" />
                                            <input type="hidden" id="hdnVendorName" value="@Model.PurchaseOrder.Vendor_Name" name="PurchaseOrder.Vendor_Name" class="auto-complete-label" />
                                            <div class="input-group-addon">
                                                <a href="#" class="text-muted" id="hrefVendor" role="button"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Purchase Order Items</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3" id="divProduct">
                                            <div class="form-group auto-complete">
                                                <label for="Product" class="lookup-title">Product Name</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control input-sm autocomplete-text lookup-text" name="Product.Product_Name" id="txtProductName" placeholder="Enter Product Name" value="@(Model.PurchaseOrderItem.Product_Id == 0 ? "" : Model.PurchaseOrderItem.Product_Id.ToString())" data-table="product" data-col="Product_Id,Product_Name" data-headernames="Product Name">
                                                    <input type="hidden" id="hdnProductId" value="@Model.Product.Product_Id" name="Product.Product_Id" class="auto-complete-value" />
                                                    <input type="hidden" id="hdnProductName" value="@Model.Product.Product_Name" name="Product.Product_Name" class="auto-complete-label" />
                                                    <div class="input-group-addon">
                                                        <a href="#" class="text-muted" id="hrefProduct" role="button"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>


                                            @*<div class="form-group lookup-parent">
                                                    <label for="txtCountry" style="color: #333" class="lookup-title">Product</label>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control input-sm lookup-label" id="txtCountry" name="" maxlength="3" placeholder="Enter Product" value="" data-table="">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-info btn-flat lookup-btn" name="" type="button" id="btnAddress_Country"><span class="fa fa-server"></span></button>
                                                        </span>
                                                    </div>
                                                    <input type="hidden" class="lookup-hidden" id="hdnCountry_Id" name="" value="">

                                                </div>*@
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label style="color: #333">Product Price</label>
                                                <input type="text" class="form-control input-sm" name="PurchaseOrderItem.Product_Price" id="txtProductPrice" placeholder="Enter product price" value="@(Model.PurchaseOrderItem.Product_Price == 0 ? "" : Model.PurchaseOrderItem.Product_Price.ToString())" maxlength="20">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label style="color: #333">Product Quantity</label>
                                                <input type="text" class="form-control input-sm" name="PurchaseOrderItem.Product_Quantity" id="txtProductQuantity" placeholder="Enter product quantity" value="@(Model.PurchaseOrderItem.Product_Quantity == 0 ? "" : @Model.PurchaseOrderItem.Product_Quantity.ToString())" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            @*<div class="form-group">
                                                    <label style="color: #333">Shipping Address</label>
                                                    <textarea class="form-control input-sm" name="" id="txtShipping_Address" placeholder="Enter Shipping Address"></textarea>
                                                </div>*@
                                        </div>

                                        <div class="col-md-2">

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label style="color: #333">Shipping Address</label>
                                                <textarea class="form-control input-sm" name="PurchaseOrderItem.Shipping_Address" id="txtShipping_Address" placeholder="Enter Shipping Address">@Model.PurchaseOrderItem.Shipping_Address</textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtRecDate" style="color: #333">Receivable Date</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control  input-sm" id="txtShippingDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask name="PurchaseOrderItem.Shipping_Date" placeholder="Enter Shipping Date" value="@Model.PurchaseOrderItem.Shipping_Date" />
                                                   
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            @*<div class="form-group">
                                                    <label style="color: #333">Product Quantity</label>
                                                    <input type="text" class="form-control input-sm" name="" id="txtProductQuantity" placeholder="Enter product quantity" value="" maxlength="20">
                                                </div>*@
                                        </div>
                                        <div class="col-md-2">
                                            @*<div class="form-group">
                                                    <label style="color: #333">Shipping Address</label>
                                                    <textarea class="form-control input-sm" name="" id="txtShipping_Address" placeholder="Enter Shipping Address"></textarea>
                                                </div>*@
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <br />
                                                <button type="button" id="btnAdd" class="btn btn-success btn-sm">Add</button>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="box table-responsive">
                                    <div class="box-header">
                                        <h3 class="box-title">Purchase Order Item Table</h3>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-responsive" id="tblPurchaseOrderItems">
                                            <tr id="subhead">
                                                <th>Product</th>
                                                <th>Product Quantity</th>
                                                <th>Product Price</th>
                                                <th>Shipping Date</th>

                                            </tr>

                                            @foreach (var item in Model.PurchaseOrderItems)
                                            {
                                                <tr id=@("PItem"+item.Purchase_Order_Item_Id.ToString())>

                                                    <td>@item.Product_Name</td>

                                                    <td>@item.Product_Quantity.ToString()</td>

                                                    <td>@item.Product_Price.ToString()</td>
                                                    <td>@item.Shipping_Date</td>
                                                    <td>
                                                        <button id="btnEdit" type="button" class="btn btn-info btn-sm btn-Edit-SubDept fa fa-pencil-square-o" onclick="Edit_Purchase_Order_Item(@item.Purchase_Order_Item_Id)"></button>
                                                    </td>
                                                    <td>
                                                        <button id="btnRemove" type="button" class="btn btn-danger btn-Edit-SubRemove btn-sm fa fa-times" onclick="Delete_Purchase_Order_Item(@item.Purchase_Order_Item_Id)"></button>
                                                    </td>

                                                    <input type="hidden" class="ItmId" value="@item.Purchase_Order_Item_Id">
                                                    <input type="hidden" class="ItmPOrderId" value="@item.Purchase_Order_Id">
                                                    <input type="hidden" class="ItmProductId" value="@item.Product_Id">
                                                    <input type="hidden" class="ItmProductPrice" value="@item.Product_Price">
                                                    <input type="hidden" class="ItmProductQty" value="@item.Product_Quantity">
                                                    <input type="hidden" class="ItmShipDate" value="@item.Shipping_Date">
                                                    <input type="hidden" class="ItmShipAdd" value="@item.Shipping_Address">

                                                </tr>
                                            }

                                        </table>
                                    </div><!-- /.box-body -->
                                </div>
                                <div class="box-footer">
                                    <div class="btn-group">
                                        <button type="submit" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                        <button type="reset" id="btnReset" class="btn btn-warning btn-sm">Reset</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>