@model SMSPortal.Models.PostLogin.SalesOrderViewModel
@using SMSPortalInfo.Common;

<script src="~/Scripts/Module/SalesOrder/sales_order_events.js"></script>


<form id="frmOrderDetails">
    <input type="hidden" id="hdnOrder_Id" name="Sales_Order.Order_Id" value="@Model.Sales_Order.Order_Id">
    <input type="hidden" id="hdnOrder_Id" name="Sales_Order.Order_Date" value="@Model.Sales_Order.Order_Date">
    <div class="view_invoice_body">
        <div class="container">
            <h3 class="view_invoice_body_header">
                Order Details
                <span> <a href="@Url.Action("Search", "SalesOrder")"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a> </span>
            </h3>

            <section class="invoice" style="border:1px solid #ddd;">

                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header div-border-bottom">
                            <i class="fa fa-globe"></i> SMS
                            <small class="pull-right"><b>Date:</b> @(string.Format("{0:d}", Model.Sales_Order.Order_Date.ToString("dd/MM/yyyy")))</small>
                        </h2>
                    </div><!-- /.col -->
                </div>

                <div class="row invoice-info ">
                    @*<div class="col-sm-4 invoice-col col-border-right">
                        <p> From</p>
                        <address>
                            Admin, Inc.<br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            Phone: (804) 123-5432<br>
                            Email: info@almasaeedstudio.com
                        </address>
                    </div> /.col*@ 
                    <div class="col-sm-8 invoice-col col-border-right" style="border-right: 1px ridge; border-left: 1px ridge;">
                        <p>Order From</p>
                        <address>
                            @Model.Dealer.Dealer_Name<br>
                            @Model.Dealer.Address ,<br />
                            @Model.Dealer.City , @Model.Dealer.State_Name ,<br />
                            Pin : @Model.Dealer.Pincode ,<br />
                            Phone : @Model.Dealer.Contact_No_1 ,<br />
                            Email : @Model.Dealer.Email
                        </address>
                    </div><!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        <p>Order No : @Model.Sales_Order.Order_No</p>
                        <p>Order Date : @Model.Sales_Order.Order_Date.ToString("dd/MM/yyyy")</p>
                    </div><!-- /.col -->
                </div>

                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="10%">Sr.No.</th>
                                    <th width="45%">Product Name</th>
                                    <th width="15%">Quantity</th>
                                    <th width="15%" style="text-align:right">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 0;
                                    if (Model.Sales_Order.OrderItems != null)
                                    {
                                        foreach (var item in Model.Sales_Order.OrderItems)
                                        {
                                            count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Product_Name</td>
                                    <td>@item.Product_Quantity</td>
                                    <td style="text-align:right">@item.Product_Price</td>

                                </tr>
                                        }
                                    }
                                <tr>
                                    <td colspan="3" style="text-align:right">Total:</td>
                                    <td style="text-align:right"><i class="fa fa-inr"></i> @(string.Format("{0:#,#.00}",Model.Sales_Order.Gross_Amount))</td>
                                </tr>
                                @*<tr>
                                    <td colspan="3" style="text-align:right">VAT(%):</td>
                                    <td style="text-align:right"><i class="fa fa-inr"></i> @Model.Sales_Order.Vat</td>
                                </tr>*@
                                <tr>
                                    <td colspan="3" style="text-align:right">Service Tax(%):</td>
                                    <td style="text-align:right"><i class="fa fa-inr"></i> @(string.Format("{0:#,#.00}",Model.Sales_Order.Service_Tax))</td>
                                </tr>
                                @*<tr>
                                    <td colspan="3" style="text-align:right">Swatch Bharat Tax:</td>
                                    <td style="text-align:right"><i class="fa fa-inr"></i> @Model.Sales_Order.Swatch_Bharat_Tax</td>
                                </tr>*@
                                <tr>
                                    <td colspan="3" style="text-align:right">Grand Total:</td>
                                    <td style="text-align:right"><i class="fa fa-inr"></i> @(string.Format("{0:#,#.00}",Model.Sales_Order.Net_Amount))</td>
                                </tr>
                                }
                            </tbody>



                        </table>
                    </div><!-- /.col -->
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">Order Status</label>
                            <select id="drpOrderStatus" class="form-control form_control_mer" name="Sales_Order.Status_Id">
                                <option value="0">-Select Transaction Type-</option>
                                @foreach (var item in LookupInfo.Get_Order_Status())
                                {
                                    if (Model.Sales_Order.Status_Id == item.Key)
                                    {
                                        <option value="@item.Key" selected="selected">@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                }

                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">Shipping Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control form_control_mer" id="txtRecDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask name="Sales_Order.Shipping_Date" value="@((Model.Sales_Order.Shipping_Date == DateTime.MinValue ? "" : Model.Sales_Order.Shipping_Date.ToString("MM-dd-yyyy")))" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <br />
                        <button type="button" id="btnSave" class="btn btn_mer ripple">Update</button>
                        @*<button type="reset" id="btnReset" class="btn btn-warning btn-sm">Reset</button>*@
                    </div>
                </div>

            </section>

        </div>
    </div>
</form>


