@model SMSPortal.Models.PostLogin.DashboardViewModel
@using SMSPortalInfo.Common

<form id="frmMy_Activity_Dashboard">
    @{Html.RenderPartial("_ServerMessage");}
    <h3 class="master_header">
        Dashboard
    </h3>
    <label class="control-label label_mer_2">Orders</label>
    <div class="table-responsive">
        <table class="table no-margin" id="tblDealerMaster" style="margin:60px">
            <thead>
                <tr>
                    <th>Order No</th>
                    <th>Order Date</th>
                    <th>Dealer Name</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Sales_Orders.Count() > 0)
                {
                    foreach (var item in Model.Sales_Orders)
                    {
                        <tr>
                            <td>@item.Order_No</td>

                            <td>@item.Order_Date.ToShortDateString()</td>

                            <td>@item.Dealer_Name</td>

                            <td>@item.Gross_Amount</td>

                            <td>@item.Status</td>

                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No Records Found</td>
                    </tr>
                }
            </tbody>
        </table>

        @*<div class="btn-group pull-right">
        <br />
            <a href="@Url.Action("Search","SalesOrder")" class="btn btn_mer ripple btn_mer_3 pull-right">View All Orders</a>
        </div> /.box-footer*@ 
    </div>
    <br />
    <br />

</form>