@model SMSPortal.Models.PostLogin.SubCategoryViewModel
@using SMSPortalInfo.Common


<script src="~/Scripts/Module/SubCategory/subcategory_events.js"></script>
<script src="~/Scripts/Module/SubCategory/subcategory_validation.js"></script>
<script src="~/Scripts/Module/SubCategory/subcategory_methods.js"></script>

<form id="frmSubCategory">
    <div class="master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="master_header">
                SubCategory Master
                <span> <a href="@Url.Action("Search", "SubCategory")"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a> </span>
            </h3>

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="control-label label_mer">Name</label>
                        <input type="text" class="form-control form_control_mer" name="SubCategory.Subcategory_Name" id="txtSubCategory_Name" placeholder="Enter SubCategory" value="@Model.SubCategory.Subcategory_Name" maxlength="30">
                        <input type="hidden" id="hdnSubCategory_Name" value="@Model.SubCategory.Subcategory_Name">
                        <input type="hidden" id="hdnSubcategory_Id" name="SubCategory.Subcategory_Id" value="@Model.SubCategory.Subcategory_Id">
                    </div>

                    <div id="dvSubc" class="form-group auto-complete">
                        <label class="control-label label_mer">Category Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control form_control_mer autocomplete-text lookup-text" name="SubCategory.Category_Name" id="txtCategory" placeholder="Enter Category Name" value="@(Model.SubCategory.Category_Id == 0 ? "" : Model.SubCategory.Category_Id.ToString())" data-table="Category" data-col="Category_Id,Category_Name" data-headernames="Category Name">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-server" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnCategoryId" value="@Model.SubCategory.Category_Id" name="SubCategory.Category_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnCategoryName" value="@Model.SubCategory.Category_Name" name="SubCategory.Category_Name" class="auto-complete-label" />
                        </div>
                    </div>

                    <div class="form-group">
                        @if (Model.SubCategory.IsActive == false)
                        {
                            <label class="control-label label_mer">
                                <input type="checkbox" class="chkstatus" name="chkStatus" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        else
                        {
                            <label class="control-label label_mer">
                                <input type="checkbox" class="chkstatus" name="chkStatus" checked="checked" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        <input type="hidden" id="hdnIs_Active" name="SubCategory.IsActive" value="@Model.SubCategory.IsActive.ToString()" />
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn_mer ripple">Save</button>
                        <button type="reset" id="btnReset" class="btn btn_mer ripple">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>