@model SMSPortal.Models.PostLogin.SubCategoryViewModel
@using SMSPortalInfo.Common

<script src="~/Scripts/Module/SubCategory/search_subcategory_events.js"></script>
<script src="~/Scripts/Module/SubCategory/serach_subcategory_methods.js"></script>

<form id="frmSubCategory">

    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage">
    <input type="hidden" id="hdnSubcategory_Id" name="SubCategory.Subcategory_Id" value="@Model.SubCategory.Subcategory_Id">

    <div class="dealer_master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="dealer_master_header">
                SubCategory Master
            </h3>

            <div class="row" style="margin: 20px 0;">
                <div class="col-md-6">

                    <div class="form-group auto-complete">
                        <label class="control-label label_mer">SubCategory Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control form_control_mer autocomplete-text" name="Filter.SubCategory_Name" id="txtSubcategory" placeholder="Enter SubCategory Name" value="@Model.Filter.SubCategory_Name" data-table="Sub_Category" data-col="Sub_Category_Id,Sub_Category_Name" data-headernames="Subcategory">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-server" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnSubcategoryId" value="@Model.Filter.SubCategory_Id" name="Filter.SubCategory_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnSubcategoryName" value="@Model.Filter.SubCategory_Name" name="Filter.SubCategory_Name" class="auto-complete-label" />
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                        <br />
                        <a class="btn btn_mer ripple" style="margin-top: 5px;" id="btnSearch" role="button">Search </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-left">

                        <a class="btn btn_mer ripple" role="button" id="btnCreate" href="@Url.Action("Index", "SubCategory")">Create </a>
                        @*<a class="btn btn_mer ripple" id="btnSearch" role="button">Search </a>*@

                    </div>
                    <div class="btn-group pull-right">

                        <button type="button" id="btnEdit" style="display:none;" class="btn btn_mer ripple">Edit </button>

                    </div>
                </div>
            </div>

            <div class="table-responsive" style="margin: 50px 0;">
                <table class="table table-bordered" id="tblSubCategory">
                    <thead>
                        <tr id="subhead">
                            <th width="5%"></th>
                            <th width="20%">SubCategory Name</th>
                            <th width="20%">Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="clearfix">
                    <div class="pagination no-margin pull-right">
                        <ul class="pagination"></ul>
                    </div>
                    <div id="divSearchGridOverlay" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>
