@model SMSPortal.Models.PostLogin.ReceivableViewModel
@using SMSPortalInfo.Common

<script src="~/Scripts/Module/Receivable/Receviable_events.js"></script>
<script src="~/Scripts/Module/Receivable/Receivable_methods.js"></script>
<script src="~/Scripts/Module/Receivable/receivable_validation.js"></script>

<div class="modal fade" id="myModalDelete" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeleteRecordLabel">Insert Receivable Data</h4>
            </div>
            <div class="modal-body" id="div_Parent_Modal_Body">
                <div class="row">
                    <div class="col-md-12" style="text-align:center ">
                        <h5 class="">Are you sure you want to insert that record?</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align:center ">
                        <button type="button" id="btnYes" class="btn btn-success btn-sm" data-dismiss="modal">Yes </button>
                        <button type="button" id="btnNo" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="Close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="frmReceivableMaster">

    <input type="hidden" id="hdnInvoice_Id" value="@Model.Receivable.Invoice_Id" name="Receivable.Invoice_Id" />
    <input type="hidden" id="hdnInvoice_Amount" value="@Model.Receivable.Invoice_Amount" name="Receivable.Invoice_Amount" />
    <input type="hidden" id="hdnReceivable_Item_Id" value="" name="" />
    <input type="hidden" id="hdnReceivable_Id" value="" name="" />

    <div class="master">
        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="master_header">
                Receivable Master
                <span> <a href="@Url.Action("Search", "Receivable")"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a> </span>
            </h3>

            <div class="row">
                <div class="col-md-2">
                    <label class="control-label label_mer">Invoice No :</label>
                    <label class="control-label label_mer_2">@Model.Invoice.Invoice_No</label>
                </div>
                <div class="col-md-3">
                    <label class="control-label label_mer">Order No :</label>
                    <label class="control-label label_mer_2">@Model.Order.Order_No</label>
                </div>
                <div class="col-md-3">
                    <label class="control-label label_mer">Order Date :</label>
                    <label class="control-label label_mer_2">@Model.Order.Order_Date.ToString("MM/dd/yyyy")</label>
                </div>
                <div class="col-md-4">
                    <label class="control-label label_mer">Dealer Name :</label>
                    <label class="control-label label_mer_2">@Model.Order.Dealer_Name</label>
                </div>

            </div>

            <div id="dvInvoice" class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Receivable Date</label>
                        <input type="text" class="form-control form_control_mer" id="txtRecDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask name="Receivable.Receivable_Date" placeholder="Enter Receivable Date" value="@((Model.Receivable.Receivable_Date == DateTime.MinValue ? "" : Model.Receivable.Receivable_Date.ToString("dd-MM-yyyy")))" />

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Total Amount</label>
                        <input readonly type="text" class="form-control form_control_mer" name="Receivable.Invoice_Amount" id="txtInvoice_Amount" placeholder="Enter IFSC Code" value="@Model.Receivable.Invoice_Amount" maxlength="20">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Transaction Type</label>
                        <select id="drpTransaction" class="form-control form_control_mer" name="Receivable.Transaction_Type">
                            <option value="0">-Select Transaction Type-</option>
                            @foreach (var item in LookupInfo.Get_Transaction_Types())
                            {
                                if (Model.Receivable.Transaction_Type == item.Key)
                                {
                            <option value="@item.Key" selected="selected">@item.Value</option>
                                }
                                else
                                {
                            <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Balance Amount</label>
                        <input readonly type="number" class="form-control form_control_mer" name="Receivable.Balance_Amount" id="txtBalance_Amount" placeholder="Enter IFSC Code" value="@Model.Receivable.Balance_Amount" maxlength="20">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label label_mer">Amount</label>
                        <input type="number" class="form-control form_control_mer" name="Receivable.Receivable_Item_Amount" id="txtReceivable_Item_Amount" placeholder="Enter Amount" value="@(Model.Receivable.Receivable_Item_Amount==0 ? "" : Model.Receivable.Receivable_Item_Amount.ToString())" maxlength="20">
                        <input type="hidden" class="form-control input-sm" name="" id="hdnReceivable_Item_Amount" placeholder="Enter Amount" value="0" maxlength="20">
                    </div>
                </div>
            </div>

            <div style="display:none" id="divNEFT">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">NEFT</label>
                            <input type="text" class="form-control form_control_mer" name="Receivable.NEFT" id="txtNEFT" placeholder="Enter NEFT Details" value="@Model.Receivable.NEFT" maxlength="50">
                        </div>
                    </div>
                </div>

            </div>

            <div style="display:none" id="divCredit_Debit">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">Credit/Debit Card</label>
                            <input type="text" class="form-control form_control_mer" name="Receivable.Credit_Debit_Card" id="txtCredit_Debit" placeholder="Enter Credit Debit Card Details" value="@Model.Receivable.Credit_Debit_Card" maxlength="20">
                        </div>
                    </div>
                </div>
            </div>

            <div style="display:none" id="divCheque">

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">Cheque Date</label>

                            <input type="text" class="form-control form_control_mer" id="txtChequeDate" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask name="Receivable.Cheque_Date" placeholder="Enter Cheque Date" value="@((Model.Receivable.Cheque_Date == DateTime.MinValue ? "" : Model.Receivable.Cheque_Date.ToString("dd-MM-yyyy")))" />

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">Cheque No</label>
                            <input type="text" class="form-control form_control_mer" name="Receivable.Cheque_Number" id="txtChequeNo" placeholder="Enter Cheque No" value="@Model.Receivable.Cheque_Number" maxlength="20">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">Bank Name</label>
                            <input type="text" class="form-control form_control_mer" name="Receivable.Bank_Name" id="txtBankName" placeholder="Enter Bank Name" value="@Model.Receivable.Bank_Name" maxlength="20">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label label_mer">IFSC Code</label>
                            <input type="text" class="form-control form_control_mer" name="Receivable.IFSC_Code" id="txtIFSCCode" placeholder="Enter IFSC Code" value="@Model.Receivable.IFSC_Code" maxlength="20">
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" id="btnNEFTSave" class="btn btn_mer ripple" data-toggle="modal" data-target="#myModalDelete">Save</button>
                        <button type="reset" id="btnReset" class="btn btn_mer ripple">Reset</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" style="margin: 50px 0;">
                        <table class="table table-bordered" id="tblReceivableItems">
                            <thead>
                                <tr id="subhead">

                                    <th>Transaction Type</th>
                                    <th>Amount</th>
                                    <th>Bank Name</th>
                                    <th>IFSC Code</th>
                                    <th>Cheque No</th>
                                    <th>Cheque Date</th>
                                    <th>NEFT Details</th>
                                    <th>Credit/Debit Card Details</th>
                                    <th>Receivable Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                @if (Model.Receivables != null && Model.Receivables.Count() > 0)
                                {
                                    int i = 1;
                                    foreach (var itm in Model.Receivables)
                                    {
                                        <tr id="tr(@itm.Receivable_Item_Id)">
                                            <td>
                                                <span> @itm.Transaction_Type_Name</span>
                                                <input type="hidden" id="hdnTransaction_Type@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Transaction_Type" value="@itm.Transaction_Type">
                                                <input type="hidden" id="hdnReceivable_Item_Id@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Receivable_Item_Id" value="@itm.Receivable_Item_Id">
                                                <input type="hidden" id="hdnReceivable_Id@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Receivable_Id" value="@itm.Receivable_Id">
                                            </td>
                                            <td>
                                                <span> @itm.Receivable_Item_Amount</span>
                                                <input type="hidden" id="hdnReceivable_Item_Amount@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Receivable_Item_Amount" value="@itm.Receivable_Item_Amount">
                                            </td>
                                            <td>
                                                <span> @itm.Bank_Name</span>
                                                <input type="hidden" id="hdnBank_Name@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Bank_Name" value="@itm.Bank_Name">
                                            </td>
                                            <td>
                                                <span> @itm.IFSC_Code</span>
                                                <input type="hidden" id="hdnIFSC_Code@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].IFSC_Code" value="@itm.IFSC_Code">
                                            </td>
                                            <td>
                                                <span> @itm.Cheque_Number</span>
                                                <input type="hidden" id="hdnCheque_Number@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Cheque_Number" value="@itm.Cheque_Number">
                                            </td>
                                            <td>
                                                @if (itm.Cheque_Date.ToString() == "1/1/1999 12:00:00 AM")
                                                {
                                                    <span> NA </span>
                                                }
                                                else
                                                {
                                                    <span> @itm.Cheque_Date.ToString("MM/dd/yyyy")</span>
                                                }

                                                <input type="hidden" id="hdnCheque_Date@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Cheque_Date" value="@itm.Cheque_Date.ToString("MM/dd/yyyy")">
                                            </td>
                                            <td>
                                                <span> @itm.NEFT</span>
                                                <input type="hidden" id="hdnNEFT@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].NEFT" value="@itm.NEFT">
                                            </td>
                                            <td>
                                                <span> @itm.Credit_Debit_Card</span>
                                                <input type="hidden" id="hdnCredit_Debit_Card@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Credit_Debit_Card" value="@itm.Credit_Debit_Card">
                                            </td>
                                            <td>
                                                <span> @itm.Receivable_Date.ToString("MM/dd/yyyy")</span>
                                                <input type="hidden" id="hdnReceivable_Date@(itm.Receivable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Receivable_Date" value="@itm.Receivable_Date.ToString("MM/dd/yyyy")">
                                            </td>
                                            <td>
                                                @*@if(Model.Receivable.Status!="Payment Done")
                            {*@
                                                <button type="button" id="edit-bank-details" class="btn btn-box-tool btn-tel-edit" onclick="javascript:EditReceivableData(@itm.Receivable_Item_Id)"><i class='fa fa-pencil'></i></button>
                                                <button type="button" id="edit-bank-details" class="btn btn-box-tool btn-github" onclick="javascript:SendReceivableData(@itm.Receivable_Item_Id)">Send Email</button>
                                                @*@<button type="button" id="delete-bank-details" class="btn btn-box-tool btn-tel-delete" onclick="javascript:DeletReceivableData(@itm.Receivable_Item_Id)"><i class='fa fa-times'></i></button>*@
                                                @*}*@

                                            </td>
                                        </tr>
                                                i = i + 1;
                                    }
                                }

</table>

                    </div>
                  
                </div>
            </div>
    </div>
    </div>
</form>