@model SMSPortal.Models.PostLogin.ReceivableViewModel
@using SMSPortalInfo.Common

<script src="~/Scripts/Module/Dealer_Payables/search_dealer_payables_methods.js"></script>
<script src="~/Scripts/Module/Dealer_Payables/search_dealer_payables_events.js"></script>

<form id="frmReceivable" enctype="multipart/form-data">

    <input type="hidden" id="hdnInvoice_Id" value="@Model.Receivable.Invoice_Id" name="Receivable.Invoice_Id" />

    <input type="hidden" id="hdnInvoice_Amount" value="@Model.Receivable.Invoice_Amount" name="Receivable.Invoice_Amount" />

    <input type="hidden" id="hdnEntityId" value="@Model.Filter.Entity_Id" name="Filter.Entity_Id" />

    <input type="hidden" id="hdnRoleId" value="@Model.Filter.Role_Id" name="Filter.Role_Id" />

    <input type="hidden" id="hdfCurrentPage" value="@Model.Pager.CurrentPage" name="Pager.CurrentPage">

    <div class="payables">
        <div class="container">
            <h3 class="payables_header">Payable</h3>

            <div class="row" style="margin: 20px 0;">

                <div class="col-md-6">
                    <div class="form-group auto-complete">
                        <label class="control-label label_mer">Invoice No.</label>
                        <div class="input-group">
                            <input type="text" class="form-control form_control_mer autocomplete-text" name="Filter.Invoice_No" id="txtDealerInvoice" placeholder="Enter Invoice No." value="@Model.Filter.Invoice_No" data-param="hdnEntityId" data-field="Dealer_Id" data-table="Invoice" data-col="Invoice_Id,Invoice_No" data-headernames="Invoice No">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefInvoice" role="button"> <i class="fa fa-server" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnInvoiceId" value="@Model.Filter.Invoice_Id" name="Receivable.Invoice_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnInvoiceNo" value="@Model.Filter.Invoice_No" name="Receivable.Invoice_No" class="auto-complete-label" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-left">
                        <a id="btnSearch" href="#" class="btn btn_mer ripple">Search</a>
                    </div>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnView" style="display:none;" class="btn btn_mer ripple">View</button>
                        <button type="button" id="btnViewInvoice" style="display:none;" class="btn btn_mer ripple">View Invoice</button>
                    </div>
                </div>
            </div>

            <div class="table-responsive" style="margin: 50px 0;">
                <table id="tblReceivableMaster" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Invoice No</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="box-footer clearfix">
                    <div class="pagination pagination-sm no-margin pull-right">
                        <ul></ul>
                    </div>
                    <div id="divSearchGridOverlay" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>





