@model SMSPortal.Models.PostLogin.BrandViewModel
@using SMSPortalInfo.Common

<script src="~/Scripts/Module/Brand/brand_events.js"></script>
<script src="~/Scripts/Module/Brand/brand_validation.js"></script>

<form id="frmBrandMaster">
    <div class="master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="master_header">
                Brand Master
                <span> <a href="@Url.Action("Search","Brand")"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a> </span>
            </h3>
            
            <div class="row">
                <div class="col-md-12">

                    <input type="hidden" class="form-control input-sm" name="Brand.Brand_Id" id="hdf_BrandId" placeholder="Country Name" value="@Model.Brand.Brand_Id">

                    <div class="form-group">
                        <label class="control-label label_mer">Brand Name</label>
                        <input type="text" class="form-control form_control_mer" name="Brand.Brand_Name" id="txtBrand_Name" placeholder="Enter brand name" value="@Model.Brand.Brand_Name" maxlength="20">
                        <input type="hidden" id="hdnBrandName" value="@Model.Brand.Brand_Name">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Brand Category</label>
                        <select id="drpBrand_Category" class="form-control form_control_mer" name="Brand.Brand_Category">
                            <option value="">-Select Brand Category-</option>
                            @foreach (var item in LookupInfo.Get_Brand_Categories())
                            {
                                if (Model.Brand.Brand_Category == item.Key)
                                {
                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>

                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Website Url</label>
                        <input type="text" class="form-control form_control_mer" name="Brand.Website_Url" id="txtWebsite_Name" placeholder="Enter website url" value="@Model.Brand.Website_Url">

                    </div>

                    <div class="form-group form_control_mer">
                        @if (Model.Brand.Is_Active == false)
                        {
                            <label>
                                <input type="checkbox" class="chkstatus" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        else
                        {
                            <label>
                                <input type="checkbox" checked="checked" class="chkstatus" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        <input type="hidden" id="hdnIs_Active" name="Brand.Is_Active" value="@Model.Brand.Is_Active.ToString()">


                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn_mer ripple">Save</button>
                        <button type="reset" id="btnReset" class="btn btn_mer ripple">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>