@model SMSPortal.Models.PostLogin.BrandViewModel
@using SMSPortalInfo.Common

<script src="~/Scripts/Module/Brand/brand_profile_events.js"></script>
<script src="~/Scripts/Module/Brand/brand_profile_methods.js"></script>

@*<div class="content-wrapper">
    @{Html.RenderPartial("_ServerMessage");}
    <section class="content-header">
        <h1>
            Brand Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>

            <li class="active">Profile</li>

            <li class="active">Profile Details</li>

        </ol>
    </section>
    <form id="frmBrandProfileMaster">
        <input type="hidden" id="hdnBrand_Id" name="Brand.Brand_Id" value="@Model.Brand.Brand_Id" />
        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-body">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Brand Name :</label>
                                                    <label style="font-size:12px">@Model.Brand.Brand_Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label style="color:#333">Brand Category :</label>
                                                    @foreach (var item in LookupInfo.Get_Brand_Categories())
                                                    {
                                                        if (Model.Brand.Brand_Category == item.Key)
                                                        {
                                                            <label style="font-size:12px">@item.Value</label>
                                                        }
                                                    }
                                                    <input type="hidden" id="hdnBrand_Category" name="Brand.Brand_Category" value="@Model.Brand.Brand_Category">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label>Web Site :</label>
                                                    <label style="font-size:12px">@Model.Brand.Website_Url</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="btn-group pull-left">
                                                <button type="button" id="btnEdit" class="btn btn-warning btn-sm">Edit</button>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>*@

<form id="frmBrandProfileMaster">

    <input type="hidden" id="hdnBrand_Id" name="Brand.Brand_Id" value="@Model.Brand.Brand_Id" />

    <div class="brand_profile">
        <div class="container">
            <h3 class="brand_profile_header">Brand Profile</h3>

            <div class="brand_profile_image">

            </div>

            <div class="info">
                <div class="col-md-6 col-sm-6">
                    @if (@Model.Brand.Brand_Name=="Mercedes")
                    {
                        <img src="~/Images/mercedes-profile.jpg" class="img-responsive" />
                    }
                    else
                    {
                        <img src="~/Images/renault11.jpg" class="img-responsive" />
                    }
                    
                </div>
                <div class="col-md-6 col-sm-6">
                    <h5>Brand Name</h5>
                    <h3>@Model.Brand.Brand_Name</h3>
                    <br />

                    <h5>Brand Category</h5>
                    
                    @foreach (var item in LookupInfo.Get_Brand_Categories())
                    {
                        if (Model.Brand.Brand_Category == item.Key)
                        {
                            <h3>@item.Value</h3>                       
                        }
                    }
                    <input type="hidden" id="hdnBrand_Category" name="Brand.Brand_Category" value="@Model.Brand.Brand_Category">

                    <br />

                    <h5>Website</h5>
                    <h3>@Model.Brand.Website_Url</h3>                   

                    <button type="button" id="btnEdit" class="btn btn_mer ripple" style="float:right;">Edit</button>   

                </div>
            </div>


        </div>
    </div>
</form>
