@model SMSPortal.Models.PostLogin.BrandViewModel
@*@model SMSPortal.Models.PostLogin.UserViewModel*@
@using SMSPortal.Common;
<script src="~/Scripts/Module/Brand/search_brand_events.js"></script>
<script src="~/Scripts/Module/Brand/search_brand_methods.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>

<form id="frmBrand">

    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
    <input type="hidden" id="hdnBrand_Id" name="Brand.Brand_Id" value="@Model.Brand.Brand_Id">
    <input type="hidden" id="hdnBrand_Logo" name="Brand.Brand_Logo" value="@Model.Brand.Brand_Logo">

    <div class="dealer_master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="dealer_master_header">
            Brand Master
            </h3>

            <div class="row" style="margin: 20px 0;">
                <div class="col-md-6">
                    <div class="form-group auto-complete">
                        <label class="control-label label_mer">Brand Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control form_control_mer autocomplete-text" name="Filter.Brand_Name" id="txtBrand_Name" placeholder="Enter Brand Name" value="@Model.Filter.Brand_Name" data-table="Brand" data-col="Brand_Id,Brand_Name" data-headernames="Brand">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-server" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnBrandId" value="@Model.Filter.Brand_Id" name="Filter.Brand_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnBrandName" value="@Model.Filter.Brand_Name" name="Filter.Brand_Name" class="auto-complete-label" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="btn-group">
                        <br />
                        <a class="btn btn_mer ripple" style="margin-top: 5px;" id="btnSearch" role="button">Search </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-left">

                        <a class="btn btn_mer ripple" style="margin-top: 5px;" role="button" id="btnCreate" href="@Url.Action("AddEdit_Brand", "Brand")">Create </a>
                        @*<a class="btn btn_mer ripple" style="margin-top: 5px;" role="button" id="btnCreate" href="@Url.Action("Sendmail", "Brand")">Send email </a>*@

                    </div>
                    <div class="btn-group pull-right">

                        <button type="button" id="btnEdit" style="display:none;" class="btn btn_mer ripple">Edit </button>
                        <button type="button" id="btnUploadLogo" style="display:none;" class="btn btn_mer ripple" data-toggle="modal" data-target="#div_Parent_Modal_Fade">Upload Brand Logo</button>
                        @*<button type="button" id="btnAddUser" style="display:none;" class="btn btn_mer ripple">Add User</button>*@

                    </div>
                </div>
            </div>

            <div class="table-responsive" style="margin: 50px 0;">
                <table class="table table-bordered" id="tblBrandMaster">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Brand Name</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="clearfix">
                    <div class="pagination no-margin pull-right">
                        <ul class="pagination"></ul>
                    </div>
                    <div id="divSearchGridOverlay" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>
