@model SMSPortal.Models.PostLogin.PayableViewModel

@using SMSPortal.Common;

<script src="~/Scripts/Module/Vendor_Receivable/search_vendor_receivable_events.js"></script>

<script src="~/Scripts/Module/Vendor_Receivable/search_vendor_receivable_methods.js"></script>


<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">

    <!-- Content Header (Page header) -->

    @{Html.RenderPartial("_ServerMessage");}

    <section class="content-header">

        <h1>

            Vendor Receivable Master

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Admin</a></li>
            <li class="active">Vendor Receivables</li>
        </ol>
    </section>

    <form id="frmvendorreceivable">
        <div class="row">
            <div class="col-md-12">
                <div class="box-header with-border">
                    <i class="fa fa-chevron-left" style="margin-right: 5px; cursor: pointer;font-size:22px; "></i>

                </div>
                <div class="box box-solid">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped" id="tblPayableItems">
                            <tr id="subhead">

                                <th>Transaction Type</th>
                                <th>Amount</th>
                                <th>Bank Name</th>
                                <th>IFSC Code</th>
                                <th>Cheque No</th>
                                <th>Cheque Date</th>
                                <th>NEFT Details</th>
                                <th>Credit/Debit Card Details</th>
                                <th>Payable Date</th>
                                @if (Model.Payable.Status != "Payment Done")
                                {
                                    <th>Action</th>
                                }
                            </tr>

                            @if (Model.Payables != null && Model.Payables.Count() > 0)
                            {
                                int i = 1;
                                foreach (var itm in Model.Payables)
                                {
                                    <tr id="tr(@itm.Payable_Item_Id)">
                                        <td>
                                            <span> @itm.Transaction_Type_Name</span>
                                            <input type="hidden" id="hdnTransaction_Type@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Bank_Name" value="@itm.Transaction_Type">
                                            <input type="hidden" id="hdnReceivable_Item_Id@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Bank_Name" value="@itm.Payable_Item_Id">
                                            <input type="hidden" id="hdnReceivable_Id@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Bank_Name" value="@itm.Payable_Id">
                                        </td>
                                        <td>
                                            <span> @itm.Payable_Item_Amount</span>
                                            <input type="hidden" id="hdnPayable_Item_Amount@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Account_No" value="@itm.Payable_Item_Amount">
                                        </td>
                                        <td>
                                            <span> @itm.Bank_Name</span>
                                            <input type="hidden" id="hdnBank_Name@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Bank_Name" value="@itm.Bank_Name">
                                        </td>
                                        <td>
                                            <span> @itm.IFSC_Code</span>
                                            <input type="hidden" id="hdnIFSC_Code@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Bank_Name" value="@itm.IFSC_Code">
                                        </td>
                                        <td>
                                            <span> @itm.Cheque_Number</span>
                                            <input type="hidden" id="hdnCheque_Number@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Account_No" value="@itm.Cheque_Number">
                                        </td>
                                        <td>
                                            <span> @itm.Cheque_Date.ToString("MM/dd/yyyy")</span>
                                            <input type="hidden" id="hdnCheque_Date@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Ifsc_Code" value="@itm.Cheque_Date.ToString("MM/dd/yyyy")">
                                        </td>
                                        <td>
                                            <span> @itm.NEFT</span>
                                            <input type="hidden" id="hdnNEFT@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Account_No" value="@itm.NEFT">
                                        </td>
                                        <td>
                                            <span> @itm.Credit_Debit_Card</span>
                                            <input type="hidden" id="hdnCredit_Debit_Card@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Ifsc_Code" value="@itm.Credit_Debit_Card">
                                        </td>
                                        <td>
                                            <span> @itm.Payable_Date.ToString("MM/dd/yyyy")</span>
                                            <input type="hidden" id="hdnPayable_Date@(itm.Payable_Item_Id)" name="Vendor.BankDetailsList[@(i-1)].Ifsc_Code" value="@itm.Payable_Date.ToString("MM/dd/yyyy")">
                                        </td>

                                    </tr>
                                    i = i + 1;
                                }
                            }

                        </table>
                    </div>
                    @*<div class="box-footer clearfix">
                            <div class="pagination pagination-sm no-margin pull-right">
                                <ul></ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>

        </form>

</div>

<!-- /.content-wrapper -->
