@model SMSPortal.Models.PostLogin.LookupViewModel
@using System.Data;
@using SMSPortalHelper.PageHelper;

<script src="~/Scripts/generic.lookup.js" type="text/javascript"></script>

<input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
<input type="hidden" id="hdnId" name="Id">
<input type="hidden" id="hdnValue" name="Value">
<input type="hidden" id="hdnEditValue" name="" value="@Model.EditLookupValue">

<div class="row" >
    <div class="col-md-12">
        <div class="">
            <div class="table-responsive no-padding">
                <div style="height: 300px; overflow-y: visible;">
                    <table class="table table-bordered">
                        <thead>
                            <tr id="subhead">
                                @foreach (string item in Model.HeaderNames)
                                {
                                    <th></th>
                                    <th>@item</th>                                    
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PartialDt != null && Model.PartialDt.Rows.Count > 0)
                            {                               
                                foreach (DataRow row in Model.PartialDt.Rows)
                                {
                                    <tr>
                                        <td>
                                            @if (row[1].ToString()==Model.EditLookupValue)
                                            {
                                                <input type='radio' checked name='r1_Lookup' id='r1_Lookup_@row[0]' class='lookup-iradio-list' />
                                            }
                                            else
                                            {
                                                <input type='radio' name='r1_Lookup' id='r1_Lookup_@row[0]' class='lookup-iradio-list' />
                                            }
                                            
                                        </td>
                                        <td>@row[1]
                                            <input type='hidden' name='v1' value='@row[1]' class="v1" />
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="center" colspan="3">
                                        No record found.
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>
                @*<div id="divLookupGridOverlay" class="overlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@
            </div>
            @*<div class="box-footer clearfix">
                @if (Model.PartialDt != null && Model.PartialDt.Rows.Count > 0)
                {
                    <div class="pagination pagination-sm no-margin pull-right">
                        @(Html.Raw(MDMToolHelper.PageHelper.PageHelper.NumericPager("javascript:PageMoreFilter({0})", Model.Pager.TotalRecords, Model.Pager.CurrentPage + 1, Model.Pager.PageSize, Model.Pager.TotalPages, true)))
                    </div>
                }
            </div>*@
        </div>
    </div>
</div>

<br />
@*<div class="form-group">
    <button type="button" id="btnOK" class="btn btn-success btn-sm">OK</button>
</div>*@

<script>
    $(function () {
        //$(".overlay").each(function () {

        //    $(this).hide();
        //});
        
        $("#divLookupGridOverlay").hide();
    });
</script>
