@model SMSPortal.Models.PostLogin.CategoryViewModel
@using SMSPortalInfo.Common;

<script src="~/Scripts/Module/Category/search_category_events.js"></script>
<script src="~/Scripts/Module/Category/search_category_methods.js"></script>

<form id="frmCategory">

    <input type="hidden" id="hdfCurrentPage" name="Pager.CurrentPage" value="@Model.Pager.CurrentPage" />
    <input type="hidden" id="hdnCategory_Id" name="Category.Category_Id" value="@Model.Category.Category_Id">

    <div class="dealer_master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="dealer_master_header">
                Category Master
            </h3>

            <div class="row" style="margin: 20px 0;">
                <div class="col-md-6">

                    <div class="form-group auto-complete">
                        <label class="control-label label_mer">Category Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control form_control_mer autocomplete-text" name="Filter.Category_Name" id="txtCategory_Name" placeholder="Enter Category Name" value="@Model.Filter.Category_Name" data-table="category" data-col="Category_Id,Category_Name" data-headernames="Category">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-server" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnCategoryId" value="@Model.Filter.Category_Id" name="Filter.Category_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnCategoryName" value="@Model.Filter.Category_Name" name="Filter.Category_Name" class="auto-complete-label" />
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                        <br />
                        <a class="btn btn_mer ripple" style="margin-top: 5px;" id="btnSearch" role="button">Search </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-left">

                        <a class="btn btn_mer ripple" role="button" id="btnCreate" href="@Url.Action("Index", "Category")">Create </a>
                        @*<a class="btn btn_mer ripple" id="btnSearch" role="button">Search </a>*@

                    </div>
                    <div class="btn-group pull-right">

                        <button type="button" id="btnEdit" style="display:none;" class="btn btn_mer ripple">Edit </button>

                    </div>
                </div>
            </div>

            <div class="table-responsive" style="margin: 50px 0;">
                <table class="table table-bordered" id="tblCategory">
                    <thead>
                        <tr id="subhead">
                            <th width="5%"></th>
                            <th width="20%">Category Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="clearfix">
                    <div class="pagination no-margin pull-right">
                        <ul class="pagination"></ul>
                    </div>
                    <div id="divSearchGridOverlay" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

</form>

