@model SMSPortal.Models.PostLogin.UserViewModel
@using SMSPortalInfo.Common
@using SMSPortal.Common

<script src="~/Scripts/Module/User/user_events.js"></script>
<script src="~/Scripts/Module/User/user_method.js"></script>
<script src="~/Scripts/Module/User/user_validation.js"></script>

<form id="frmUserMaster">

    <div class="master">

        <div class="container">
            @{Html.RenderPartial("_ServerMessage");}
            <h3 class="master_header">
                User Master
                <span> <a href="@Url.Action("Search","User")"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a> </span>
            </h3>

            <div class="row">
                <div class="col-md-12">

                    <input type="hidden" class="form-control input-sm" name="User.User_Id" id="hdf_UserId" placeholder="" value="@Model.User.User_Id">
                    @*<input type="hidden" class="form-control input-sm" name="User.Entity_Id" id="hdf_EntityId" placeholder="" value="@Model.User.Entity_Id">
                    <input type="hidden" class="form-control input-sm" name="User.Role_Id" id="hdf_RoleId" placeholder="" value="@Model.User.Role_Id">*@

                    <div class="form-group">
                        <label class="control-label label_mer">User Name</label>
                        <input type="text" class="form-control form_control_mer" name="User.User_Name" id="txtUser_Name" placeholder="Enter user name" value="@Model.User.User_Name" maxlength="15">
                        <input type="hidden" id="hdnUserName" value="@Model.User.User_Name">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">First Name</label>
                        <input type="text" class="form-control form_control_mer" name="User.First_Name" id="txtFirst_Name" placeholder="Enter first name" value="@Model.User.First_Name" maxlength="15">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Last Name</label>
                        <input type="text" class="form-control form_control_mer" name="User.Last_Name" id="txtLast_Name" placeholder="Enter last name" value="@Model.User.Last_Name" maxlength="15">
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Roles</label>
                        <select id="drpRoles" class="form-control form_control_mer" name="User.Role_Id">
                            <option value="" selected="selected">Select Roles</option>
                            @foreach (var item in Model.Roles)
                            {
                                if (Model.User.Role_Id == item.Role_Id)
                                {
                                    <option value="@item.Role_Id" selected="selected">@item.Role_Name</option>
                                }
                                else
                                {
                                    <option value="@item.Role_Id">@item.Role_Name</option>
                                }
                            }
                        </select>
                        <input type="hidden" id="hdnEntity_Id" value="@Model.User.Entity_Id" />
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Entity</label>
                        <select id="drpEntity" class="form-control form_control_mer" name="User.Entity_Id"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Gender</label>
                        <select id="drpGender" class="form-control form_control_mer" name="User.Gender">
                            <option value="">Select Gender</option>
                            @foreach (var item in LookupInfo.Get_Gender_Types())
                            {
                                if (Model.User.Gender == item.Key)
                                {
                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label label_mer">Contact No 1</label>
                        <input type="text" class="form-control form_control_mer" name="User.Contact_No_1" id="txtContactNo1" placeholder="Enter your contact" value="@Model.User.Contact_No_1" maxlength="10">
                    </div>

                    <div class="form-group">

                        <label class="control-label label_mer">Contact No 2</label>
                        <input type="text" class="form-control form_control_mer" name="User.Contact_No_2" id="txtContactNo2" placeholder="Enter your alternative contact" value="@Model.User.Contact_No_2" maxlength="10">
                    </div>

                    <div class="form-group">

                        <label class="control-label label_mer">Email</label>
                        <input type="text" class="form-control form_control_mer" name="User.Email_Id" id="txtEmail_Id" placeholder="Enter your email" value="@Model.User.Email_Id" maxlength="40">
                    </div>

                    <div class="form-group form_control_mer">
                        @if (Model.User.Is_Active == false)
                        {
                            <label>
                                <input type="checkbox" class="chkstatus" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        else
                        {
                            <label>
                                <input type="checkbox" checked="checked" class="chkstatus" />
                                &nbsp;&nbsp;&nbsp;&nbsp; Active
                            </label>
                        }
                        <input type="hidden" id="hdnIs_Active" name="User.Is_Active" value="@Model.User.Is_Active.ToString()">
                    </div>



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn_mer ripple">Save</button>
                        <button type="reset" id="btnReset" class="btn btn_mer ripple">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>